body {
     min-height: 200vh ;
}
header {
    position: fixed;
    top: 0;
    left:0 ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s ;
    padding: 30px 100px;
    z-index: 5;
    // background:url("{{asset('./img/jumbotron.jpg')}}");

    &.sticky  {
        padding: 20px 100px;
        background: blue;
    }
    nav {
        &.navbar{
            width: 100%;
        }
        .navbar {
            justify-content: flex-start;
            // background: blue;
        }
    }
    #header-form {


        form {
            padding: 10px;
            margin: 45px 100px;
            &.sticky {
                margin: 5px 100px;
            }

        }
        .input-menu {
            position: relative;
            display: flex;
            justify-content: space-between;
            background-color: transparent;
            border-radius: 30px;
            transition: all 1s;

            input {
                border: 0;
                background-color: transparent;
                &:focus {
                    outline: 0;
                }


        }
        &:hover {
            border-radius: 30px;
            background-color: #ccc ;
            }
        }
    }
    .navbar .container, .navbar .container-fluid, .navbar .container-sm, .navbar .container-md, .navbar .container-lg, .navbar .container-xl {

        align-items: flex-start;
    }
    ul {
        .navbar-nav {
            height: 100px;
            align-self: flex-start;
        }
    }
    img {
        width: 100px;
    }

    button {
        display: inline-block;
        border-radius: 30px;
        transition: all 1s;
        &.btn-primary {
            background-color: $main-color;
            border: 1px solid $main-color;
            &:hover {
                background-color: $main-color;
            }
        }
    }
}

main {
    position: relative;
    padding: 200px 100px;

    .card {
        transition: all 1s;
        &:hover{
            transform: scale(1.2);
        }
    }
}
footer {
    background-color: #ccc;
    ul {
        list-style-type: none;
    }
}
