body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    #main-home,
    #advanced-research-page,
    #apartment-page {
        min-height: calc(100vh - 270px);

        @media only screen and (min-width: 315px) {
            min-height: calc(100vh - 245px);
        }

        @media only screen and (min-width: 492px) {
            min-height: calc(100vh - 220px);
        }

        @media only screen and (min-width: 768px) {
            min-height: calc(100vh - 91px);
        }

        @media only screen and (min-width: 1200px) {
            min-height: calc(100vh - 66px);
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 500;
    }

    a {
        font-weight: 500;
    }

    [v-cloak] {
        display: none;
    }
}
