#bt-dropin {
    [data-braintree-id='toggle'] {
        display: none;
    }
}

.dropdown-menu {
    min-width: 0;
}

.sidebar {

    border-bottom: 1px solid #80808033;

    .active {
        color: #11079d;
    }

    @media only screen and (min-width: 768px) {
        border-bottom: 0;
    }
}

#messages-table {
    min-width: 520px;
}

#show-apartment {
    .primary-image {
        height: 240px;

        @media only screen and (min-width: 576px) {
            height: 300px;
        }

        @media only screen and (min-width: 960px) {
            height: 360px;
        }
    }

    [class^="secondary-image"] {
        height: 115px;

        @media only screen and (min-width: 576px) {
            height: 145px;
        }

        @media only screen and (min-width: 960px) {
            height: 175px;
        }
    }

    .secondary-image-1,
    .secondary-image-2 {
        margin-bottom: 10px;
    }

    img {
        object-fit: cover;
    }
}

#edit-apartment {
    .main-image > div {
        width: 100%;

        @media only screen and (min-width: 960px) {
            width: calc(50% - 20px);
            margin: 10px;
        }

        img {
            object-fit: cover;
        }
    }

    .secondary-images {
        width: 100%;
        margin-bottom: 20px;

        @media only screen and (min-width: 960px) {
            width: calc(50% - 20px);
            margin: 10px;
        }

        @media only screen and (min-width: 1140px) {
            width: calc(25% - 20px);
        }

        img {
            height: 120px;
            object-fit: cover;

            @media only screen and (min-width: 576px) {
                height: 240px;
            }
        }
    }
}

#create-apartment {
    .main-image {
        width: 100%;

        @media only screen and (min-width: 960px) {
            width: 50%;
        }
    }

    .secondary-images {
        width: 100%;

        @media only screen and (min-width: 960px) {
            width: 50%;
        }

        .secondary-image {
            margin-bottom: 5px;

            @media only screen and (min-width: 368px) {
                width: calc(50% - 10px);
                margin: 5px;
            }
        }
    }
}

#payment-form {
    .card {
        cursor: pointer;

        &:hover {
            background-color: #00d8ff38;
        }

        &.active {
            background-color: #00d8ff38;
        }
    }
}
